@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 5% 98%; /* FCFCFC */
    --foreground: 240 10% 3.9%;
  }
  body {
    @apply bg-[#FAFAFC] text-neutral-800 antialiased overflow-x-hidden selection:bg-rose-100 selection:text-rose-900;
    font-family: 'Inter', sans-serif;
  }
}

/* Base Glassmorphism classes to keep UI extremely clean & light */
.glass-panel {
  @apply bg-white/40 border border-white/50 backdrop-blur-xl shadow-[0_8px_32px_rgba(31,38,135,0.03)];
}