@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&family=Inter:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 4%; /* Pure dark zinc */
    --foreground: 0 0% 100%;
  }
  body {
    @apply bg-neutral-950 text-neutral-100 font-sans antialiased overflow-x-hidden;
    font-family: 'Inter', sans-serif;
  }
  .font-mono {
    font-family: 'Fira Code', monospace;
  }
}